<!DOCTYPE html>
<html>

<head>
    <title>Secret Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>Secret Scanner</h1>

<form method="POST">

    <input
        type="text"
        name="target"
        placeholder="Repository path or GitHub URL"
        style="width:500px;"
        required>

    <br><br>

    <label>
        <input type="checkbox" name="history">
        Scan Git History
    </label>

    <br><br>

    <button type="submit">
        Scan
    </button>

</form>

{% if error %}
<hr>
<h3>Error</h3>
<p>{{ error }}</p>
{% endif %}

{% if findings %}

<hr>

<h2>Results</h2>

<table border="1" cellpadding="5">

<tr>
    <th>Commit</th>
    <th>File</th>
    <th>Line</th>
    <th>Content</th>
</tr>

{% for f in findings %}

<tr>
    <td>{{ f.commit_hash or "WORKING" }}</td>
    <td>{{ f.file_path }}</td>
    <td>{{ f.line_number }}</td>
    <td>{{ f.line_content }}</td>
</tr>

{% endfor %}

</table>

{% endif %}

</body>
</html>